# Cloudflare Pages 成果物
/dist/

# Flutter ビルド成果物
flutter/fctzs_app/build/
flutter/fctzs_app/.dart_tool/
flutter/fctzs_app/.flutter-plugins-dependencies

# 依存・ローカル
node_modules/
.DS_Store
Thumbs.db
*.log
.env
.env.*
*APIkey*.txt
*apikey*.txt
new-design/character.html
new-design/characters.html
new-design/index.html
new-design/player.html
new-design/players.html
new-design/recruit.html
new-design/scenario.html
new-design/scenarios.html
new-design/session.html
new-design/sessions.html
new-design/css/style.css
new-design/fonts/Y1ChocolateNote.otf
new-design/fonts/Y1Cybanin3000-DoubleLine.otf
new-design/fonts/Y1HypeType.otf
new-design/fonts/Y1LunaChord.otf
new-design/fonts/yutaone-license.txt
new-design/img/decor/orange-cloud1-flip.png
new-design/img/decor/orange-cloud1.png
new-design/img/decor/orange-cloud2.png
new-design/img/decor/orange-cloud3.png
new-design/img/decor/orange-moon1.png
new-design/img/decor/orange-moon2-flip.png
new-design/img/decor/orange-moon2.png
new-design/img/decor/orange-moon3.png
new-design/js/app.js
new-design/js/core.js
